.root {
}
.location_img {
  width: 50%;
  display: flex;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 100px;
  margin-top: 0px;
}
.location_name {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.location-heading {
  margin-bottom: 100px;
}
