.root {
  margin: 3%;
  max-width: 33%;
  font-size: 30px;
}
.image {
  max-width: 100%;
}
.heading3 {
  margin-top: auto;
  margin-left: auto;
  margin-right: auto;
  font-size: 35px;
}
.Paragraph {
  line-height: 35px;
  margin-bottom: 10px;
  justify-content: start;
}
.image {
  width: 100%;
  margin-bottom: 20px;
  height: 300px;
  max-height: 250px;
}
.text {
  display: flex;
  flex-direction: column;
  justify-content: start;
  text-align: start;
}
