.root {
  width: 100%;
  display: flex;
  align-items: center;

  a {
    font-weight: 500;
    margin: 20px;
    color: #000000;
  }
  a:hover {
    font-weight: bold;
    color: var(--secondary-color);
  }
  justify-content: space-between;
  flex-wrap: wrap;
}
.logo {
  align-self: center;
  width: 75px;
  height: 75px;
  margin: 0px;
}
.right-header {
  display: flex;
}
.middle-hearder {
}
.left-header {
  display: flex;
  width: 30%;
  justify-content: space-between;
}
.left {
  display: flex;
  margin-left: 5%;
}
.right {
  display: flex;
  color: var(--primary-color);
  font-weight: 700;
  font-size: 25px;
  margin-right: 5%;
  flex-wrap: wrap;
}
.switch_button {
  justify-content: center;
}
