.root {
}
.performance_video {
  justify-items: center;
  text-align: center;
  margin: 40px;
}
.carousel {
  margin: 40px;
  justify-items: center;
  text-align: center;
}
.shows {
  display: flex;
}
