.root {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.imageContainer {
    width: 80%;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 400px; // You can adjust this height as needed
}

.image {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
}

.navButton {
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 1;
}

.navButton:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

.navButton:first-of-type {
    left: 10px;
}

.navButton:last-of-type {
    right: 10px;
}
