.root {
  display: flex;
  align-items: center;
  margin: 50px;
}
.WX_QR_code {
  max-width: 200px;
  max-height: 200px;
  height: 200px;
  width: 200px;
  margin: 40px;
}
.contact_info {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 40%;
}
.social_media {
  display: flex;
  flex-direction: row;
  justify-content: end;
  align-items: end;
  width: 60%;
}
.contact {
  display: flex;
  flex-direction: row;
  width: 100%;
}
.icons {
  display: flex;
  margin: 20px;
}
.phone_number {
  display: flex;
  flex-direction: row;
  text-align: center;
}
.phone_number {
  align-items: center;
}
.info {
  display: flex;
  flex-direction: column;
  flex-grow: 10;
  align-self: center;
}
.email {
  display: flex;
}
