.root {
}
.classes_types {
  display: flex;
  justify-content: center;
}
.classes {
}
.classes {
  margin-right: auto;
  margin-left: auto;
  text-align: center;
}
.summer_program {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.class_provideed {
  font-size: 60px;
  margin: 30px;
}
